<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.piveguyz.empickbackend.employment.interviews.interview.query.mapper.InterviewMapper">
    <resultMap id="InterviewResultMap" type="com.piveguyz.empickbackend.employment.interviews.interview.query.dto.InterviewQueryDTO">
        <id column="id" property="id"/>
        <result column="sheet_id" property="sheetId"/>
        <result column="datetime" property="datetime"/>
        <result column="address" property="address"/>
        <result column="score" property="score"/>
        <result column="interview_review" property="interviewReview"/>
    </resultMap>

    <select id="findAll" resultMap="InterviewResultMap">
        SELECT
            id,
            sheet_id,
            datetime,
            address,
            score,
            interview_review
        FROM interview;
    </select>

    <select id="findById" resultMap="InterviewResultMap">
        SELECT
            id,
            sheet_id,
            datetime,
            address,
            score,
            interview_review
        FROM interview
        WHERE id = #{id};
    </select>

    <select id="findByDate" resultMap="InterviewResultMap">
        SELECT
            id,
            sheet_id,
            datetime,
            address,
            score,
            interview_review
        FROM interview
        WHERE `datetime` BETWEEN #{start} AND #{end}
    </select>

    <select id="checkAvailable" resultMap="InterviewResultMap">
        SELECT id,
               sheet_id,
               datetime,
               address,
               score,
               interview_review
        FROM interview
        WHERE datetime BETWEEN #{start} AND #{end}
    </select>

</mapper>