<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.piveguyz.empickbackend.employment.recruitment.query.mapper.RecruitmentQueryMapper">

    <select id="findRecruitments" resultType="com.piveguyz.empickbackend.employment.recruitment.query.dto.RecruitmentQueryDTO">
        SELECT
        r.id,
        r.title,
        r.content,
        r.recruit_type,
        r.status,
        r.image_url AS imageUrl,
        DATE_FORMAT(r.started_at, '%Y-%m-%d') AS startedAt,
        DATE_FORMAT(r.ended_at, '%Y-%m-%d') AS endedAt,
        DATE_FORMAT(r.created_at, '%Y-%m-%d') AS createdAt,
        DATE_FORMAT(r.updated_at, '%Y-%m-%d') AS updatedAt,
        DATE_FORMAT(r.deleted_at, '%Y-%m-%d') AS deletedAt,
        r.member_id AS memberId,
        m.name AS memberName,
        d.name AS departmentName,
        r.recruitment_template_id AS recruitmentTemplateId,
        r.introduce_template_id AS introduceTemplateId,
        r.recruitment_request_id AS recruitmentRequestId
        FROM recruitment r
        JOIN member m ON r.member_id = m.id
        LEFT JOIN department d ON m.department_id = d.id
        WHERE r.deleted_at IS NULL
        <if test="condition.keyword != null and condition.keyword != ''">
            AND r.title LIKE CONCAT('%', #{condition.keyword}, '%')
        </if>
        <if test="condition.recruitType != null">
            AND r.recruit_type = #{condition.recruitType}
        </if>
        <if test="condition.departmentName != null and condition.departmentName != ''">
            AND d.name = #{condition.departmentName}
        </if>
        <if test="condition.status != null">
            AND r.status = #{condition.status}
        </if>
        <if test="condition.startFrom != null">
            AND r.started_at &gt;= #{condition.startFrom}
        </if>
        <if test="condition.endTo != null">
            AND r.ended_at &lt;= #{condition.endTo}
        </if>
        ORDER BY r.created_at DESC
    </select>

    <select id="findById" resultType="com.piveguyz.empickbackend.employment.recruitment.query.dto.RecruitmentQueryDTO">
        SELECT r.id,
               r.title,
               r.content,
               r.recruit_type,
               r.status,
               r.image_url,
               r.started_at,
               r.ended_at,
               r.created_at,
               r.updated_at,
               r.deleted_at,
               r.member_id,
               m.name AS member_name,
               d.name AS department_name,
               r.recruitment_template_id,
               r.introduce_template_id,
               r.recruitment_request_id
        FROM recruitment r
                 LEFT JOIN member m ON r.member_id = m.id
                 LEFT JOIN department d ON m.department_id = d.id
        WHERE r.id = #{id}
          AND r.deleted_at IS NULL
    </select>
</mapper>
