<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.piveguyz.empickbackend.approvals.approvalCategoryItem.query.mapper.ApprovalCategoryItemQueryMapper">
    <resultMap id="ApprovalCategoryItemResultMap" type="com.piveguyz.empickbackend.approvals.approvalCategoryItem.query.dto.ApprovalCategoryItemQueryDTO">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="name" property="name"/>
    </resultMap>

    <select id="findAll" resultMap="ApprovalCategoryItemResultMap">
        SELECT
            id,
            category_id,
            name,
        FROM approval_category_item;
    </select>

    <select id="findById" resultMap="ApprovalCategoryItemResultMap">
        SELECT
            id,
            category_id,
            name,
        FROM approval_category_item
        WHERE id = #{id};
    </select>

    <select id="findByCategoryId" resultMap="ApprovalCategoryItemResultMap">
        SELECT
            id,
            category_id,
            name,
        FROM approval_category_item
        WHERE category_id = #{categoryId};
    </select>


</mapper>