<!-- src/main/resources/mapper/MemberMapper.xml -->
<mapper namespace="com.piveguyz.empickbackend.member.query.MemberMapper">

    <select id="findRolesByEmployeeNumber" parameterType="int" resultType="string">
        SELECT r.code
        FROM member m
        LEFT JOIN department d ON m.department_id = d.id
        LEFT JOIN position p ON m.position_id = p.id
        LEFT JOIN job j ON m.job_id = j.id
        LEFT JOIN rank rnk ON m.rank_id = rnk.id
        LEFT JOIN role r ON (
        r.id = d.role_id OR
        r.id = p.role_id OR
        r.id = j.role_id OR
        r.id = rnk.role_id
        )
        WHERE m.employee_number = #{employeeNumber}
    </select>

</mapper>
