<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.piveguyz.empickbackend.employment.interviews.interviewSheet.query.mapper.InterviewSheetMapper">
    <resultMap id="InterviewSheetResultMap" type="com.piveguyz.empickbackend.employment.interviews.interviewSheet.query.dto.InterviewSheetQueryDTO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="member_id" property="memberId"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <select id="findAll" resultMap="InterviewSheetResultMap">
        SELECT
            id,
            name,
            is_deleted,
            member_id,
            updated_at
        FROM interview_sheet
        WHERE is_deleted = 'N';
    </select>

    <select id="findById" resultMap="InterviewSheetResultMap">
        SELECT
            id,
            name,
            is_deleted,
            member_id,
            updated_at
        FROM interview_sheet
        WHERE is_deleted = 'N'
        AND id = #{id};
    </select>

    <select id="searchByName" resultMap="InterviewSheetResultMap">
        SELECT
            id,
            name,
            is_deleted,
            member_id,
            updated_at
        FROM interview_sheet
        WHERE is_deleted = 'N'
        AND name LIKE CONCAT('%', #{name}, '%');
    </select>



</mapper>