<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.piveguyz.empickbackend.employment.introduce.query.mapper.IntroduceResultMapper">
    <resultMap id="IntroduceResultMap" type="com.piveguyz.empickbackend.employment.introduce.query.dto.IntroduceResultQueryDTO">
        <result property="id" column="id"/>
        <result property="memberId" column="member_id"/>
        <result property="content" column="content"/>
        <result property="ratingScore" column="rating_score"/>
        <result property="introduceStandardId" column="introduce_standard_id"/>
        <result column="status" property="status" typeHandler="com.piveguyz.empickbackend.common.handler.IntroduceResultStatusHandler"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="findAllIntroduceResult" resultMap="IntroduceResultMap">
        SELECT
            id,
            member_id,
            content,
            rating_score,
            introduce_standard_id,
            status,
            updated_by,
            updated_at
        FROM
            introduce_rating_result
    </select>

</mapper>
