<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.piveguyz.empickbackend.employment.introduce.query.mapper.IntroduceStandardMapper">

    <resultMap id="introduceStandardItemQueryResultMap" type="IntroduceStandardItemQueryDTO">
        <id property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="memberId" column="member_id"/>
        <result property="introduceStandardId" column="introduce_standard_id"/>
    </resultMap>

    <select id="findAllIntroduceStandardItem"
            resultType="com.piveguyz.empickbackend.employment.introduce.query.dto.IntroduceStandardItemQueryDTO">
        SELECT
            id,
            content,
            member_id AS memberId,
            introduce_standard_id AS introduceStandardId
        FROM
            introduce_standard_item
    </select>

    <select id="findIntroduceStandardItemById" resultMap="introduceStandardItemQueryResultMap">
        SELECT
            id,
            content,
            member_id,
            introduce_standard_id
        FROM
            introduce_standard_item
        WHERE
            introduce_standard_id = #{standardId}
    </select>

</mapper>
