<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.piveguyz.empickbackend.employment.mail.query.mapper.MailMapper">
    <resultMap id="MailResultMap" type="com.piveguyz.empickbackend.employment.mail.query.dto.MailQueryDTO">
        <id column="id" property="id"/>
        <result column="applicant_id" property="applicantId"/>
        <result column="email" property="email"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="sender_id" property="senderId"/>
        <result column="sended_at" property="sendedAt"/>
    </resultMap>

    <select id="findAll" resultMap="MailResultMap">
        SELECT
            id,
            applicant_id,
            email,
            title,
            content,
            sender_id,
            sended_at
        FROM mail;
    </select>

    <select id="findById" resultMap="MailResultMap">
        SELECT
            id,
            applicant_id,
            email,
            title,
            content,
            sender_id,
            sended_at
        FROM mail
        WHERE id = #{id};
    </select>

    <select id="findByEmail" resultMap="MailResultMap">
        SELECT
            id,
            applicant_id,
            email,
            title,
            content,
            sender_id,
            sended_at
        FROM mail
        WHERE email = #{email}
    </select>

    <resultMap id="JobTestMailResultMap" type="com.piveguyz.empickbackend.employment.mail.query.dto.JobTestMailQueryDTO">
        <id column="id" property="id"/>
        <result column="recruitment_id" property="recruitmentId"/>
        <result column="recruitment_title" property="recruitmentTitle"/>
        <result column="applicant_id" property="applicantId"/>
        <result column="applicant_name" property="applicantName"/>
        <result column="email" property="email"/>
        <result column="application_job_test_id" property="applicationJobTestId"/>
        <result column="entry_code" property="entryCode"/>
        <result column="job_test_id" property="jobTestId"/>
        <result column="job_test_title" property="jobTestTitle"/>
        <result column="test_time" property="testTime"/>
        <result column="started_at" property="startedAt"/>
        <result column="ended_at" property="endedAt"/>
        <result column="problem_count" property="problemCount"/>
    </resultMap>

    <select id="findForJobTestMail" resultMap="JobTestMailResultMap">
        SELECT
            application.id as id,
            application.recruitment_id as recruitment_id,
            recruitment.title as recruitment_title,
            application.applicant_id as applicant_id,
            applicant.name as applicant_name,
            applicant.email as email,
            application_job_test.id as application_job_test_id,
            application_job_test.entry_code as entry_code,
            application_job_test.job_test_id as job_test_id,
            job_test.title as job_test_title,
            job_test.test_time as test_time,
            job_test.started_at as started_at,
            job_test.ended_at as ended_at,
            COUNT(job_test_question.id) as problem_count
         FROM application
         JOIN recruitment ON application.recruitment_id = recruitment.id
         JOIN applicant ON application.applicant_id = applicant.id
         JOIN application_job_test ON application.id = application_job_test.application_id
         JOIN job_test ON application_job_test.job_test_id = job_test.id
         JOIN job_test_question ON job_test.id = job_test_question.job_test_id
        WHERE application.id = #{id}
        GROUP BY
            application.id,
            application.recruitment_id,
            recruitment.title,
            application.applicant_id,
            applicant.name,
            applicant.email,
            application_job_test.id,
            application_job_test.entry_code,
            application_job_test.job_test_id,
            job_test.title,
            job_test.test_time,
            job_test.started_at,
            job_test.ended_at;
    </select>

    <resultMap id="InterviewMailResultMap" type="com.piveguyz.empickbackend.employment.mail.query.dto.InterviewMailQueryDTO">
        <id column="id" property="id"/>
        <result column="recruitment_id" property="recruitmentId"/>
        <result column="recruitment_title" property="recruitmentTitle"/>
        <result column="applicant_id" property="applicantId"/>
        <result column="applicant_name" property="applicantName"/>
        <result column="email" property="email"/>
        <result column="interview_id" property="interviewId"/>
        <result column="interview_datetime" property="interviewDatetime"/>
        <result column="interview_address" property="interviewAddress"/>
    </resultMap>

    <select id="findForInterviewMail" resultMap="InterviewMailResultMap">
        SELECT
            application.id as id,
            application.recruitment_id as recruitment_id,
            recruitment.title as recruitment_title,
            application.applicant_id as applicant_id,
            applicant.name as applicant_name,
            applicant.email as email,
            interview.id as interview_id,
            interview.datetime as interview_datetime,
            interview.address as interview_address
        FROM application
        JOIN recruitment ON application.recruitment_id = recruitment.id
        JOIN applicant ON application.applicant_id = applicant.id
        JOIN interview ON interview.application_id = application.id
        WHERE application_id = #{id};
    </select>

</mapper>