<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.piveguyz.empickbackend.employment.interviews.interviewCriteria.query.mapper.InterviewCriteriaMapper">
    <resultMap id="InterviewCriteriaResultMap" type="com.piveguyz.empickbackend.employment.interviews.interviewCriteria.query.dto.InterviewCriteriaQueryDTO">
        <id column="id" property="id"/>
        <result column="sheet_id" property="sheetId"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="weight" property="weight"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="member_id" property="memberId"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <select id="findAll" resultMap="InterviewCriteriaResultMap">
        SELECT
            id,
            sheet_id,
            title,
            content,
            weight,
            is_deleted,
            member_id,
            updated_at
        FROM interview_criteria
        WHERE is_deleted = 'N';
    </select>

    <select id="findById" resultMap="InterviewCriteriaResultMap">
        SELECT
            id,
            sheet_id,
            title,
            content,
            weight,
            is_deleted,
            member_id,
            updated_at
        FROM interview_criteria
        WHERE id = #{id}
        AND is_deleted = 'N';
    </select>

    <select id="searchByTitle" resultMap="InterviewCriteriaResultMap">
        SELECT
            id,
            sheet_id,
            title,
            content,
            weight,
            is_deleted,
            member_id,
            updated_at
        FROM interview_criteria
        WHERE title LIKE CONCAT('%', #{title}, '%')
          AND is_deleted = 'N';
    </select>

    <select id="findBySheetId" resultMap="InterviewCriteriaResultMap">
        SELECT
            id,
            sheet_id,
            title,
            content,
            weight,
            is_deleted,
            member_id,
            updated_at
        FROM interview_criteria
        WHERE sheet_id = #{sheetId}
          AND is_deleted = 'N';
    </select>

</mapper>